*{
    margin: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

.hidden {
    display: none;
}

.breadcrumb-item+.breadcrumb-item::before {
    content: var(--bs-breadcrumb-divider, ">") !important;
}

.row-header{
    margin:0px auto;
    padding:0px auto;
}

.row-content {
    margin:0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height:400px;
}

.footer{
    background-color: #D1C4E9;
    margin:0px auto;
    padding: 20px 0px 20px 0px;
}

address{
    font-size:80%;
    margin:0px;
    color:#0f0f0f;
}

.navbar-dark {
    background-color: #512DA8;
}

/* AboutComponent */

.media-list {
    list-style: none;
}

.center {
    text-align: center;
}

.blockquote-footer-m {
    margin-top: unset;
}

/* Header */
.nav-bar {
    display: flex;
}

.nav-item {
    margin-right: 8px;
}

@media (max-width: 767px) {
    .container .navbar-toggler {
        float: right;
    }

}

@media (max-width: 567px) {
    .collapse .navbar-nav {
        flex-direction: row;
    }

    .collapse span {
        display:none
    }
}

/* ----- */

/* Footer */
.link-icon-footer a {
    margin-right: 16px;
    margin-bottom: 12px;
}

/* ----- */

/* Home */
img {
    width: 100%;
    height: 100%;
}

.main {
    margin-top: 20px;
}

.staff {
    width: 100%;
    display: block;
    margin-right: 16px;
}

.staff_list {
    margin-bottom: 16px;
}

.staff_list:hover .staff{
    background-color: red;
    color: white;
}

.img_staff img {
    width: 120px;
    display: block;
    margin: 0 auto;
}

.staff_list a:-webkit-any-link {
    color: #000;
    cursor: pointer;
    text-decoration: none;
}

/* ----- */

/* Dishdetail */
.dishdetail {
    margin-bottom: 20px;
}

/* ----- */

/* Department */
.department {
    margin: 24px auto;
}

.departments_list div {
    border: 2px solid #000;
    border-radius: 8px;
    padding: 8px;
}

.number_department {
    font-size: 32px;
}

/* ----- */

/* Salary */
.salary .row {
    margin-top: 20px !important;
}
.salary_staff:hover {
    border-bottom: red;
}

.sort {
    margin: 20px auto;
}

/* ----- */

/* Search */
.search {
    position: absolute;
    top: 50px;
    right: 30px;
}

.search i {
    margin-left: 12px;
    border: 1px solid #fff;
    padding: 5px;
    background-color: #fff;
    cursor: pointer;
}

@media (max-width: 991px) {
    .search {
        top: 100px;
    }
}

.search2 {
    margin-top: 16px;
    background-color: #fff;
}

@media (max-width: 567px) {
    .search {
        top: 65px;
    }
}